.blockquote{
    max-width: 600px;
    margin: 10px 30px;
    padding: 25px;
    background: #f8fffe;
    border: 1px solid #b0d2cb;
    color: #0b4237;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.quoteborder{
    border-left-width: 10px;
}
.quotesquoted:before{
    content: "\201c";
    font-size: 100px;
    color: lightgreen;
    display: block;
    margin-bottom: -40px;
    margin-top: -20px;

}
.blockquotetext{
    font-family: 'Gelasio' serif;
    font-style: italic;
    font-size: 1.15em;
    line-height: 1.5;
    margin: 0;
}
.blockquotetext:not(:last-child){
    margin-bottom: 1em;
}
.textcredit{
    font-weight: bold;
    font-style: normal;
    text-align: right;
}
h1{
    background-color: yellow;
}